// MISSION & VISION
.mv{
    padding: 100px 0;
    background: #ffffff;
    @media screen and (max-width:575px){
        padding: 0;
        }
}
.mv-content{
    margin-left: 100px;
    margin: 0 auto;

    width: 70%;
    .title{
        display: flex;
        >div{
            margin: 18px 18px 18px 0;
        }
        h2{
            margin: 0;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
        }
    }
    p{
        color: rgb(52, 52, 52);
        margin: 20px 0;
        font-family: 'Robot', sans-serif;
        font-size: 14px;
        line-height: 30px;
    }
}
// BEST SERVICE
.best-services{
    background: url('../../img/gallery/section_bg02.jpg');
    img{
        width: 100%;
        border-radius: 0;
    }
    .bs-wrapper{
        padding: 100px 0;
        display: grid;
        grid-template-columns: 48% 52%;
        color: white;
        gap: 80px;
        @media screen and (max-width:575px){
            padding: 100px 15px;
            display: block;
        }
    }
    
}
h1{
    margin: 0 0 50px;
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    @media screen and (max-width:575px){
        font-size: 31px;
        margin: 0 0 40px;
    }
}
.bs-content{
    margin-top: 80px;
    @media screen and (max-width:575px){
        margin-top: 40px;
    }
    p:first-of-type{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        line-height: 30px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        width: 90%;
    }
    p:last-of-type{
        margin-bottom: 60px;
    }
}
.red-title{
    color: #eb566c;
    text-transform: uppercase;
    display: flex;
    @media screen and (max-width:575px){
        color: #fff;
    }
    h3{
        margin-left: 15px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        @media screen and (max-width:575px){
            font-size: 14px;
        }
    }
    .red-line{
        margin: 31px 0 18px 0;
        border-color: #eb566c;
        @media screen and (max-width:575px){
            margin: 25px 0 18px 0;
            border-color: #fff;
        }
        
    }
}
// OUT TEAM
.team-wrapper{
    padding: 100px 0;
    @media screen and (max-width:575px){
        padding: 15px;
    }
}
.staff{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr 1fr);
    gap: 40px;
    @media screen and (max-width:575px){
        display: block;
    }
}
.worker{
    background: #fff;
    @media screen and (max-width:575px){
        margin-bottom: 30px;
    }
    img{
        @media screen and (max-width:575px){
            width: 100%;
        }
    }
    .text-content{
        padding: 0 40px;
        @media screen and (max-width:575px){
            padding: 0 40px 10px;
        }
        h2{
            margin: 25px 0 0;
        }
        .red-subtitle{
            margin-bottom: 10px;
            .red-line{
                width: 30px;
                margin: 24px 15px 18px 0;
            }
            display: flex;
            h3{
                font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            color: #eb566c;
            }
        }
    }
}