.contact.form{
    background: #ffffff;

}
.wrapper-form{
    padding: 120px 0;
    @media screen and (max-width:1200px){
            width: 930px;
            }
        @media screen and (max-width:990px){
            width: 680px;
            }
        @media screen and (max-width:770px){
            width: 420px;
            }


    iframe{
        width: 100%;
        
        
        @media screen and (max-width:575px){
        display: none;
        }
    }
}
.
.contact-content{
    display: grid;
    grid-template-columns: 65% 35%;
}
// FORMULAIRE
.form-wrapper{
    h2{
        color: #000;
        font-size: 27px;
        font-weight: 600;
    }
    form{
        
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 25px;
        textarea, input{
            border: 1px solid #dddddd;
            padding-left: 20px;
            font-size: 13px;
            color: #8c8c8c;
            &:focus{
                outline: 0;
            }
        }
        textarea:first-of-type{
            grid-area: 1/1/4/3;
            padding-top: 20px;
        }
        input:nth-of-type(1){
            grid-area: 4/1/5/2;
        }
        input:nth-of-type(2){
            grid-area: 4/2/5/3;
        }
        input:nth-last-of-type(3){
            grid-area: 5/1/6/3;
        }
        .sender{
            padding: 18px 44px;
            cursor: pointer;
            font-weight: 300;
            width: 150px;
            color: #ff2143;
            background: #fff;
            border: 1px solid #ff2143;
            @include transition;
            &:hover{
                color: #fff;
                background: #ff2143;
            }
        }

    }
}
// CONTACTS
.contacts{
    >div{
        display: flex;
        gap: 20px;
        margin: 20px 0;
    }
    padding: 80px 0 0 140px;
    i{
        color: #8f9195;
        margin-top: 7px;
        font-size: 25px;
    }
    
    span{
        margin-top: 5px;
        color: #8f9195;
        display: block;
    }
    span:first-of-type{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    }
}