.news{
    margin: 0 auto;
    padding: 25px 0;
    img{
        max-width: 100%;
    }
}
.header-news{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 66% 34%;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    @media screen and (max-width:1200px) and (min-width:990px){
    grid-template-columns: 66% 34%;
        }
    @media screen and (max-width:990px) and (min-width:770px){
    display: block;
        }
        
    @media screen and (max-width:575px){
        grid-template-columns: 1fr;
        margin: 0 15px;
        padding-bottom: 0px;
        
    }
}
// FILTRE GRADIANT
.header-news .big-news, .header-news .small-news{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(162,172,179,0) 53%, rgba(0,0,0,1) 100%);
        @include radius;
    }
    img{
        width: 100%;
    }
    .text-content{
        position: absolute;
        left: 30px;
        
        @media screen and (max-width:575px){
            left: 5px;
        }
        a{
            color: #fff;
            @include titlesurvol;
        }
        h1{
            margin: 20px 0;
            font-weight: 900;
            @media screen and (max-width:575px){
                margin: 15px 0 0;
                font-size: 15px;
                font-weight: 700;

            }
        }
        span:last-of-type{
            font-size: 12px;
            color: #c2c2c2;
        }
    }
}
// BIG NEWS
.header-news .big-news{
    .text-content{
        bottom: 60px;
        @media screen and (max-width:575px){
            bottom:20px;
        }
        }
        h1{
            font-size: 40px;
            line-height: 52px;
            width: 740px;
            
        }
}
// SMALL NEWS
.header-news .small-news{
    position: relative;
    margin-bottom: 30px;
    .text-content{
        bottom: 30px;
        @media screen and (max-width:575px){
            bottom: 20px;
        }
        h1{
            font-size: 24px;
            line-height: 31px;
            width: 340px;
            @media screen and (max-width:575px){
                margin: 15px 0 5px;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
}
.header-news .right-column{
    @media screen and (max-width:990px) and (min-width:770px){
        margin-top: 20px;
    }
}
// WHATS NEWS
.whats-new{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 67% 30%;
    gap: 30px;
    @media screen and (max-width:575px){
        margin: 50px 15px;
        grid-template-columns: 1fr;
    }
    .wn-articles, .social-counter, .most-recent{
        @include radius;
        background: #fff;
    }
}
// WHATS NEW HEADER
.wn-header{
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    @media screen and (max-width:1200px){
        display: block;
    }
    h1{
        font-weight: 700;
        font-size: 40px;
        margin: 0 ;
        @media screen and (max-width:575px){
            margin-bottom: 15px;
        }
    }
    .wn-nav{
        @media screen and (max-width:575px){
            line-height: 35px;
        }
        a{
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: #000;
            &:not(&:last-of-type){
                margin-right: 15px;
            }
        }
        .--active{
            color: #ff2143;
        }
    }
}
// WHATS NEWS NEWS
// ARTICLES
.wn-content-wrapper{
    padding: 0 30px 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 40px;
    @media screen and (max-width:1200px){
        display: block;
        margin-top: 30px;
        
    }
    a{
        color: #000;
        @include titlesurvol;
    }
    .wn-big-news{
        @media screen and (max-width:575px){
            margin-bottom: 40px;
            }
        img{
            @media screen and (max-width:575px){
                width: 100%;
                }
            }
    }
    .wn-big-news .text-content{
        font-family: 'Roboto', sans-serif;
        
        h2{
            line-height: 28px;
            margin: 10px 0;
            font-size: 24px;
            font-weight: 700;
        }
        p{
            margin:15px 0;
            font-size: 16px;
            line-height: 30px;
            @media screen and (max-width:575px){
                font-size: 15px;
                }
        }
    }
    // .wn-right-column{
    //     @media screen and (max-width:1200px){
    //         display: grid;
    //         grid-template-columns: repeat(2, 1fr);
            
    //     }
    // }
    .wn-small-news{
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        @media screen and (max-width:575px){
            display: block;
            }
        
        .text-content{
            h3{
                width: 80%;
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                margin: 10px 0 5px;
                @media screen and (max-width:1200px){
                    font-size: 11px;
                    width: 100%;

                }
            }
        }
    }
}
// COLOR AND MORE OF TYPE
.wn-small-news .type-of-news{
    font-size: 11px;
    font-weight: 700;
    padding:0;
}
.wn-small-news:nth-of-type(1) .type-of-news, .wn-small-news:nth-of-type(2) .type-of-news{
    color: #2277b5;
}
.wn-small-news:nth-of-type(3) .type-of-news{
    color: #95d83e;
}
.wn-small-news:nth-of-type(4) .type-of-news{
    color: #ef4141;
}
// WN ADS
.wn-ads{
    img{
        width: 100%;
    }
}
// SOCIAL COUNTER
.social-counter{
    font-family: 'Roboto', sans-serif;
    padding:40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    .sc-wrapper{
        border: 1px solid #f4f4f4;
        @include radius;
        display: flex;
        gap: 10px;
        padding: 15px;
    }
    .text-content{
        h3{
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            line-height: 12px;
        }
        span{
            color: #707b8e;
            font-size: 11px;
            font-family: "Roboto",sans-serif;
        }
    }
}
// MOST RECENT
.most-recent{
    margin: 40px 0;
    padding: 10px;
    h2{
        @media screen and (max-width:575px){
            font-size: 18px;
            }
    }
    a{
        @include titlesurvol;
        color: #000;
    }
    .mr-header{
        position: relative;
        img{
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(162,172,179,0) 0%, rgba(19,53,89,0.8561625333727241) 100%);
            @include radius; 
        }
        .text-content{
            width: 80%;
            position: absolute;
            bottom: 20px;
            left: 30px;
            @media screen and (max-width:575px){
                left: 5px;
                width: 50%;
                }
            a{
                color: #fff;
                h3{
                    @media screen and (max-width:575px){
                        font-size: 15px;
                        }
                }
            }
            span{
                color: #fff;
            }
        }
    }
}
.mr-news{
    margin: 40px 0;
    .mr-small-news{
        margin: 20px 0;
        display: flex;
        gap: 15px;
        .text-content{
            h3{
                margin:5px 0;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}
// MOST POPULAR
.mp-ads{
    @media screen and (max-width:1200px){
        width: 90%;
        }
    @media screen and (max-width:575px){
        display: none;
        }
}
.most-popular{
    display: grid;
    grid-template-columns: 25% 75%;
    @media screen and (max-width:575px){
        margin: 0 15px;
        display: block;
    }
    .mp-articles{
        padding-bottom: 30px;
        background: #fff;
        @include radius;
    }
}
.mp-header{
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        margin: 15px;
        @media screen and (max-width:575px){
        margin-bottom: 40px;            
    }
    }
    .carousel-btns{
        @media screen and (max-width:575px){
            display: none;
            }
        padding: 15px;
        i{
            font-size: 12px;
            color: #707b8e;
        }
        i:first-of-type{
            margin-right: 20px;
        }
    }
}
.mp-carousel{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width:575px){
        justify-content: center;
    }
    article{
        width: 245px;
        @media screen and (max-width:1200px){
            width: 100%;
            }
        @media screen and (max-width:575px){
            width:90%;
        }
        img{
            width: 100%;
        }
        .text-content{
            
            a{
                color: #000;
                @include titlesurvol;
            }
            h3{
                margin: 10px 0;
                width: 80%;
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    article:nth-of-type(2){
        @media screen and (max-width:1200px){
            display: none;
            }
    }
    article:nth-last-of-type(2), article:nth-last-of-type(1){
        @media screen and (max-width:575px){
            display: none;
            }
    }
}
// TRENDING NEWS
.tdn{
    background: #fff;
    margin: 0 auto;
    padding-bottom: 50px;
    .tdn-wrapper{
        padding: 60px 0;
        @media screen and (max-width:575px){
            padding: 60px 15px 30px;
            }
        h1{
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            @media screen and (max-width:575px){
                font-size: 31px;
                margin: 0 0 25px;
                }
        }
    }
}
.tdn-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media screen and (max-width:575px){
        display: block;
        margin: 0 15px;
        }
    .tdn-article{
        position: relative;
        &:nth-last-of-type(2), &:nth-last-of-type(3){
            @media screen and (max-width:575px){
                display: none;
                }
        }
    }
    img{
        width: 100%;
    }
    .text-content{
        border-top-right-radius: 5px;
        background: #fff;
        position: absolute;
        width: 80%;
        bottom: 0;
        padding:0 20px 15px 10px;
        >a{
            color: #000;
            @include titlesurvol;
        }
        h2{
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
        }
        >div{
            display: flex;
            justify-content: space-between;
            span{
                font-weight: 600;
                line-height: 25px;
                color: #4e4e4e;
            }
            a{
                
                font-size: 25px;
                color: #c2c2c2;
            }
        }
    }
}
// FOOTER ADS
.ads{
    padding:80px 120px;
    @media screen and (max-width:1200px){
        padding:30px 15px;
        }
    @media screen and (max-width:575px){
        padding:30px 15px;
        }
    img{
        width: 100%;
    }
}





